<div class="container center-align" style="margin-top: 40px;">
  <h1 class="teal-text">Game Reset!</h1>
  <p class="flow-text">The game has been reset.</p>
  <div style="margin-top: 20px;">
    <%= link_to 'Start New Game', games_start_path, class: 'btn-large teal lighten-1' %>
    <%= link_to 'Play', games_play_path, class: 'btn-large blue lighten-1' %>
  </div>
</div>
